.card-dog .card-image{
	height: 15em;
}

.card-dog .image{
	height: 100%;
	background-repeat: no-repeat;
	background-position: top center;
	background-size: cover;
}

.breed-list .radio{
	margin: 0 0 .5em;
	display: block;
	font-size: 1.25em;
}

.breed-list .radio input{
	margin-right: .5em;
}

.pagination a:disabled{
	color: #999;
	cursor: not-allowed
}